<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title> My project </title>
	<link rel="stylesheet" type="text/css" href="/content/site.css">
</head>
<body>
    <header> 
    <div> <a href="/"> ReactJS &Aacute; SignalR </a> </div>
    <nav>
        <ul>
            <li><a href="#chat"> Chat </a></li>
            <li><a href="#"> Main </a></li>
        </ul>
    </nav>
    <div> <a href="#"></a> </div>
	</header>
	<main>
	    <aside>
	        
	        
	    </aside>
	    <article>      
	        

	    </article>
	</main>
	<footer>
	    <div class="date">
	        <p>&copy; @DateTime.Now.Year </p>
	    </div>
	    <div class="timer">
	    </div>
	</footer>   
    
    <script src="http://fb.me/react-0.12.2.js"></script>
    <script src="http://fb.me/JSXTransformer-0.12.2.js"></script>

	<script src="/scripts/libs/socket.io.js"> </script>
    
	<script src="/scripts/common/history.js"> </script>
	<script src="/scripts/common/route-module.js"> </script>
	<script src="/scripts/common/socket-io-client.js"> </script>

    <script type="text/jsx" src="/scripts/components/timer.jsx"> </script>
    <script type="text/jsx" src="/scripts/components/history-log.jsx"> </script>
    <script type="text/jsx" src="/scripts/components/theme-item.jsx"> </script>
    <script type="text/jsx" src="/scripts/components/theme-form.jsx"> </script>
    <script type="text/jsx" src="/scripts/components/theme.jsx"> </script>
    <script type="text/jsx" src="/scripts/components/chat.jsx"> </script>
    <script type="text/jsx" src="/scripts/app.js"> </script>
</body>
</html>
